.web-agent-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: web-agent-ripple 0.5s ease-out;
  background-color: rgba(0, 0, 255, 0.961);
  pointer-events: none;
  z-index: 9999;
}

@keyframes web-agent-ripple {
  to {
    transform: scale(3);
    opacity: 0;
  }
}
